.navbar {
    /* margin-bottom: 0px; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    top: 0;
    position: fixed;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.navbar p {
    color: #fff;
}